:root {
    /* --bright: 3%;
    --sat: 90%;
    --background-color: hsl(130, var(--sat), var(--bright)); */
    --background-color: #000;
}

/*
does not work yet
[data-theme="dark"] {
    --bright: 20%;
    --sat: 80%;
    --background-color: hsl(50, var(--sat), var(--bright));
}
*/

* {
    /* box-sizing: border-box; */
    font-family: monospace;
    color: #ccc;
}

html, body{
    background-color: var(--background-color);
    margin: 0px;
}

header {
    /*
    background: rgb(3,31,12);
    background: linear-gradient(90deg, rgba(3,31,12,1) 0%, rgba(9,81,31,1) 38%, rgba(52,216,90,1) 72%, rgba(21,136,79,1) 100%);
    */
    background-image: url("images/long.jpg");
    background-color: #000;
}
.homepage {
    height: 100vh;
}

#NAME {
    font-size: 6rem;
}

/* TODO: Margin not working */
.intro-wrapper {
    overflow: auto;
    width: 100%;
    margin: 10%;
}

.intro {
    margin: 0;
}

.main-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    margin: 0 25%;
    padding: 1rem 0;
    align-items: center;
    align-self: center;
}

.main-nav a{
    flex: 1;
    padding: 10px;
    text-decoration: none;
    font-size: larger;
}

.link, .main-nav a{
    transition: all 0.5s ease-out;
}

.link:hover, .main-nav a:hover{
    /* border-radius: 100%; not super relavent now */
    /* background-color: var(--highlight-color); */
    cursor: pointer;
    font-size: xx-large;
    margin-top: -1rem;
    /* color: black; */
}

header {
    padding: 0%;
    background-image: url("images/homepagePic/sunsets/windmill.JPG");
    background-position-y: center;
    background-size: cover;
}

header h3, header h1, .main-nav a{
    color: #fff;
}

.pdf-viewer {
    height: 100em;
    width: 80%;
    margin: 0 10%;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: left;
}

#social-message {
    text-align: center;
    width: 40%;
    flex-grow: 0;
    flex-shrink: 0;
}

.socials-container {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 30%;
}

/*niched*/
#recurse {
    background-color: aqua;
    border-color: black;
    border: 5px;
    border-radius: 10%; 
    width: 100%;
    height: 100%;
}