:root {
    --bright: 85%;
    --sat: 90%;
    --background-color: hsl(130, var(--sat), var(--bright));
}

[data-theme="dark"] {
    --bright: 20%;
    --sat: 80%;
    --background-color: hsl(50, var(--sat), var(--bright));
}

* {
    box-sizing: border-box;
    font-family: monospace;
}

html, body{
    background-color: var(--background-color);
    margin: 0px;
}

#first{
    text-align: center;
}
.nav ul{
    margin: 0;
    padding: 1rem 0;
    align-items: center;
    align-self: center;
}

.nav li{
    display: inline-block;
}

.footer li{
    width: 22.22%;
    padding-left: 11.11%;
}

.main-nav {
    text-align: center;
    border-bottom: 1px solid hsla(0, 0%, 0%, 1);
}

.main-nav a{
    text-decoration: none;
    font-size: larger;

}

.main-nav li{
    margin: 0 20px;
}

nav a:hover, nav img:hover, button {
    border-radius: 100%;
    background-color: hsl(256, 80%, 90%);
    cursor: pointer;
    color: black;
}

footer {
    border: 0;
    border-top: 1px solid hsl(0, 0%, 0%); 
}

.pdf-viewer {
    height: 100em;
    width: 80%;
}

header {
    padding: 0%;
    background-image: url("images/short.JPG");
    background-position-y: center;
    background-size: cover;
}

#blueBlock {
    margin: 0% 0;
    size: 50%;
    background-color: hsl(160, var(--sat), var(--bright));
}

#resume {
    margin: 0 10%;
}

header h3, header h1, .main-nav a{
    color: #fff;
}

#recurse {
    background-color: aqua;
    border-color: black;
    border: 5px;
    border-radius: 10%; 
    width: 100%;
    height: 100%;
}